<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>Customers</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="card card-datatable">
				<header class="card-header p-30">
					<div class="selected-toolbar" [ngClass]="{'active' : isToolbarActive}">
					<md-toolbar class="activeHeaderColor">
						<span>{{itemCount}} {{itemsSelected}}</span>
						<span class="demo-fill-remaining"></span>
						<button md-icon-button>
						<md-icon class="md-24">delete</md-icon>
					</button>
					</md-toolbar>
				</div>
					<h2 class="card-title">Manage Customers</h2>
					<ul class="actions icons top-right">
						<li>
							<a href="javascript:void(0)" (click)="isSearchActive = !isSearchActive;">
									<i class="zmdi zmdi-search"></i>
							</a>
						</li>
						<li class="dropdown" dropdown>
							<a href="javascript:void(0)" dropdownToggle>
								<i class="zmdi zmdi-more-vert"></i>
							</a>
							<ul class="dropdown-menu btn-primary dropdown-menu-right">
								<li>
									<a href="javascript:void(0)">Print</a>
								</li>
				
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="zmdi zmdi-inbox"></i>
							</a>
						</li>
					</ul>
					<ul class="actions fab bottom-right">
					<li>
						<button class="btn btn-accent btn-fab" md-ripple><i class="zmdi zmdi-plus"></i></button>
					</li>
					</ul>
				</header>
				<div class="card-block p-0">
					<div class="data-filter-wrapper" [ngClass]="{'active' : isSearchActive}">
					<i class="zmdi zmdi-search search filter-icons"></i>
					<input
					type='text'
					class='data-filter'
					placeholder='Filter customer name...'
					(keyup)='updateFilter($event)'
					[(ngModel)]="searchValue"
				/>
				<a href="javascript:void(0)" class="close filter-icons" (click)="triggerClose($event)"><i class="zmdi zmdi-close"></i></a>
				</div>
					<ngx-datatable
					  #table
						style="width: 100%"
						class="material"
						[rows]="rows"
						[columnMode]="'force'"
						[headerHeight]="50"
						[footerHeight]="50"
						[rowHeight]="'auto'"
						[limit]="10"
						[selected]="selected"
						[selectionType]="'checkbox'"
						(activate)="onActivate($event)"
						(select)='onSelect($event)'>
						<ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
								<ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
									<md-checkbox class="m-l-15" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></md-checkbox>
								</ng-template>
								<ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
									<md-checkbox class="m-l-15"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></md-checkbox>
								</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Customer">
						<ng-template let-row="row" ngx-datatable-cell-template>
							 <img src="/assets/img/profiles/{{row.img}}" alt="" class="text-center rounded-circle max-w-30" />
							 <span class="p-5">{{row.name}}</span>
						</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Contact"></ngx-datatable-column>
						<ngx-datatable-column name="Date Added"></ngx-datatable-column>
						<ngx-datatable-column name="Balance"></ngx-datatable-column>
						<ngx-datatable-column name="Status">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<span class="label label-success font-size-10">ACTIVE</span>
						</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Edit" [sortable]="false">
						<ng-template let-row="row" ngx-datatable-cell-template>
						<a href="javascript:void(0)" attr.data-productId="{{row.productId}}" class="icon edit-product"><i class="zmdi zmdi-edit"></i></a>
						</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>

</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
