<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>ngx-charts</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Declarative Charting Framework for Angular2+</h2>
							<ul class="actions icons top-right">
								<li>
									<a href="//github.com/swimlane/ngx-charts" title="" target="_blank">
										<i class="zmdi zmdi-link"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block">
							<p>
								ngx-charts uses Angular to render and animate the SVG elements with all of its binding and speed goodness, and uses d3 for the excellent math functions, scales, axis and shape generators, etc. By having Angular do all of the rendering it opens us up to
								endless possibilities the Angular platform provides such as AoT, Universal, etc
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Pie Charts</h2>
						</header>
						<div class="card-block">
							<div class="row">
								<div class="col">
									<ngx-pie></ngx-pie>
								</div>
								<div class="col">
									<ngx-pie-grid></ngx-pie-grid>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Bar Charts</h2>
						</header>
						<div class="card-block">
							<div class="row">
								<div class="col">
									<ngx-bar-vertical></ngx-bar-vertical>
								</div>
								<div class="col">
									<ngx-bar-horizontal></ngx-bar-horizontal>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Line/Area Charts</h2>
						</header>
						<div class="card-block">
							<div class="row">
								<div class="col">
									<ngx-line></ngx-line>
								</div>
								<div class="col">
									<ngx-area></ngx-area>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
	</div>
	
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
