<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content taskboard-app">
		<div class="header-wrapper header-sm">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
							<h1>Taskboard</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div id="taskboard-wrapper">
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<section class="card-lane-wrapper">
							<div class="card card-task" data-task-title="ToDo">
								<div class="color md-bg-deep-orange-500" data-task-color="md-bg-deep-orange-500"></div>
								<header class="card-header">
									<span class="badge md-bg-deep-orange-500 count">1</span>
									<h2 class="card-title">ToDo</h2>
									<ul class="actions icons top-right">
										<li class="dropdown" dropdown>
											<a href="javascript:void(0)" dropdownToggle>
												<i class="zmdi zmdi-more-vert"></i>
											</a>
											<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
												<li>
													<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> Remove List</a>
												</li>
											</ul>
										</li>
									</ul>
								</header>
							</div>
							<div class="card-lane">
								<div class="card card-task-item" data-drawer="open-right-lg">
									<div data-task-id="" class="bg-white">
										<header class="card-header">
											<h2 class="card-title" data-task="title">Add ESLint to build process</h2>
										</header>
										<div class="card-body">
											<ul class="list-group user-group p-l-10" data-task="users">
												<li class="list-group-item">
													<img src="assets/img/profiles/11.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
												<li class="list-group-item">
													<img src="assets/img/profiles/14.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
											</ul>
											<p data-task="notes">
												Start by adding ESLint to your package.json file or installing via NPM
											</p>
										</div>
										<div class="card-footer border-top">
											<ul class="actions icons bottom-left" data-task="metadata">
												<li class="">
													<i class="zmdi zmdi-attachment-alt"></i>
													<span>0</span>
												</li>
												<li class="">
													<i class="zmdi zmdi-comment"></i>
													<span>2</span>
												</li>
												<li class="">
													<i class="mdi mdi-note-text"></i>
													<span>1</span>
												</li>
											</ul>
											<ul class="actions bottom-right">
												<li class="">
													<span class="task-number"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="add-task text-center">
								<button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-task="add-task"><i class="zmdi zmdi-plus"></i></button>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-md-3">
						<section class="card-lane-wrapper">
							<div class="card card-task" data-task-title="In Progress">
								<div class="color md-bg-blue-500" data-task-color="md-bg-blue-500"></div>
								<header class="card-header">
									<span class="badge md-bg-blue-500 count">1</span>
									<h2 class="card-title">In Progress</h2>
									<ul class="actions icons top-right">
										<li class="dropdown" dropdown>
											<a href="javascript:void(0)" dropdownToggle>
												<i class="zmdi zmdi-more-vert"></i>
											</a>
											<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
												<li>
													<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> Remove List</a>
												</li>
											</ul>
										</li>
									</ul>
								</header>
							</div>
							<div class="card-lane">
								<div class="card card-task-item" data-drawer="open-right-lg">
									<div data-task-id="" class="bg-white">
										<header class="card-header">
											<h2 class="card-title" data-task="title">Job Board wireframes</h2>
										</header>
										<div class="card-body">
											<ul class="list-group user-group p-l-10" data-task="users">
												<li class="list-group-item">
													<img src="assets/img/profiles/03.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
												<li class="list-group-item">
													<img src="assets/img/profiles/07.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
												<li class="list-group-item">
													<img src="assets/img/profiles/05.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
											</ul>
											<p data-task="notes">
												Wireframe annotations are important because they give clients clear explanations to your design decisions.
											</p>
										</div>
										<div class="card-footer border-top">
											<ul class="actions icons bottom-left" data-task="metadata">
												<li class="">
													<i class="zmdi zmdi-attachment-alt"></i>
													<span>0</span>
												</li>
												<li class="">
													<i class="zmdi zmdi-comment"></i>
													<span>2</span>
												</li>
												<li class="">
													<i class="mdi mdi-note-text"></i>
													<span>1</span>
												</li>
											</ul>
											<ul class="actions bottom-right">
												<li class="">
													<span class="task-number"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="add-task text-center">
								<button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-task="add-task"><i class="zmdi zmdi-plus"></i></button>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-md-3">
						<section class="card-lane-wrapper">
							<div class="card card-task" data-task-title="Approved">
								<div class="color md-bg-green-500" data-task-color="md-bg-green-500"></div>
								<header class="card-header">
									<span class="badge md-bg-green-500 count">1</span>
									<h2 class="card-title">Approved</h2>
									<ul class="actions icons top-right">
										<li class="dropdown" dropdown>
											<a href="javascript:void(0)" dropdownToggle>
												<i class="zmdi zmdi-more-vert"></i>
											</a>
											<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
												<li>
													<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> Remove List</a>
												</li>
											</ul>
										</li>
									</ul>
								</header>
							</div>
							<div class="card-lane">
								<div class="card card-task-item" data-drawer="open-right-lg">
									<div data-task-id="" class="bg-white">
										<header class="card-header">
											<h2 class="card-title" data-task="title">Dashboard Mockups</h2>
										</header>
										<div class="card-body">
											<ul class="list-group user-group p-l-10" data-task="users">
												<li class="list-group-item">
													<img src="assets/img/profiles/12.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
												<li class="list-group-item">
													<img src="assets/img/profiles/15.jpg" alt="" class="rounded-circle max-w-40">
													<span class="remove-guests"><i class="zmdi zmdi-minus-circle"></i></span>
												</li>
											</ul>
											<p data-task="notes">
												After the functional mockups are approved the remainder of the site will be built.
											</p>
										</div>
										<div class="card-footer border-top">
											<ul class="actions icons bottom-left" data-task="metadata">
												<li class="">
													<i class="zmdi zmdi-attachment-alt"></i>
													<span>0</span>
												</li>
												<li class="">
													<i class="zmdi zmdi-comment"></i>
													<span>2</span>
												</li>
												<li class="">
													<i class="mdi mdi-note-text"></i>
													<span>1</span>
												</li>
											</ul>
											<ul class="actions bottom-right">
												<li class="">
													<span class="task-number"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="add-task text-center">
								<button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-task="add-task"><i class="zmdi zmdi-plus"></i></button>
							</div>
						</section>
					</div>
					<div class="col-xs-12 col-md-3">
						<section class="card-lane-wrapper">
							<div class="card card-task empty" data-task-title="">
								<div class="color" data-task-color=""></div>
								<header class="card-header">
									<span class="badge count">0</span>
									<h2 class="card-title">Add a list...</h2>
									<ul class="actions icons top-right hidden" >
										<li class="dropdown" dropdown>
											<a href="javascript:void(0)" dropdownToggle>
												<i class="zmdi zmdi-more-vert"></i>
											</a>
											<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
												<li>
													<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> Remove List</a>
												</li>
											</ul>
										</li>
									</ul>
								</header>
								<div class="card-body">
									<form id="addTaskListForm" class="form-horizontal">
										<div class="form-group m-t-0">
											<label for="taskColor" class="control-label">List Color</label>
											<ul class="swatches">
												<li class="bg-white">
													<input type="radio" value="bg-white" name="swatches" checked="">
													<i></i>
												</li>
												<li class="md-bg-red-500">
													<input type="radio" value="md-bg-red-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-pink-500">
													<input type="radio" value="md-bg-pink-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-purple-500">
													<input type="radio" value="md-bg-purple-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-deep-purple-500">
													<input type="radio" value="md-bg-deep-purple-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-indigo-500">
													<input type="radio" value="md-bg-indigo-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-cyan-500">
													<input type="radio" value="md-bg-cyan-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-teal-500">
													<input type="radio" value="md-bg-teal-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-green-500">
													<input type="radio" value="md-bg-green-500" name="swatches">
													<i class="dark"></i>
												</li>
												<li class="md-bg-lime-500">
													<input type="radio" value="md-bg-lime-500" name="swatches">
													<i class="dark"></i>
												</li>
											</ul>
										</div>
										<div class="form-group">
											<div class="input-group">
												<label for="newTaskListInput" class="control-label sr-only">New Task</label>
												<input type="text" class="form-control" id="newTaskListInput" placeholder="List Title">
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary btn-fab btn-fab-xs" data-task="save-task-list">
														<i class="zmdi zmdi-check"></i>
													</button>
												</span>
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-fab btn-fab-xs" data-task="cancel-list"><i class="mdi mdi-close"></i></button>
												</span>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="card-lane hidden" data-task-lane="">
							</div>
							<div class="add-task text-center hidden">
								<button class="btn btn-default btn-fab animate-fab btn-fab-sm" data-task="add-task"><i class="zmdi zmdi-plus"></i></button>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<footer id="footer_wrapper" class="footer_wrapper"></footer>
