<div id="content_wrapper" class="boxedlayout2-wrapper">
	<div class="content">
		<div class="header-wrapper header-lg overlay">
			<div class="container">
				<div class="row">
					<div class="col">
						<header>
							<h1>Store Settings</h1>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-block p-0">
							<md-tab-group class="demo-tab-group" md-stretch-tabs>
								<md-tab label="General">
									<div class="tab-content p-30">
										<h2 class="card-title">General Settings</h2>
										<form class="form-horizontal">
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Site Name:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="Material Wrap">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Site Owner:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="Authentic Goods Co.">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Email Address:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="email" placeholder="support@authenticgoods.co">
													</md-input-container>
												</div>
											</div>
											<div class="form-group text-right">
												<div class="col-md-12">
													<button md-ripple class="btn btn-accent btn-flat ">Cancel</button>
													<button md-ripple class="btn btn-accent">Save Changes</button>
												</div>
											</div>
										</form>
									</div>
								</md-tab>
								<md-tab label="SEO">
									<div class="tab-content p-30">
										<h2 class="card-title">SEO Settings</h2>
										<div class="form-horizontal">
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Page Title:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="Welcome to the MaterialWrap Store">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Meta Keywords:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="Bootstrap, Material Design, Admin Themes, etc.">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Meta Description:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="A Multipurpose UI Dashboard Kit for Web Application Development">
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Site Tracker Code:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<input mdInput class="form-control" type="text" placeholder="Paste tracker script here.">
													</md-input-container>
												</div>
											</div>
											<div class="form-group text-right">
												<div class="col-md-12">
													<button md-ripple class="btn btn-accent btn-flat ">Cancel</button>
													<button md-ripple class="btn btn-accent">Save Changes</button>
												</div>
											</div>
										</div>
									</div>
								</md-tab>
								<md-tab label="Payments">
									<div class="tab-content p-30">
										<h2 class="card-title">Payments</h2>
										<div class="form-horizontal">
											<div class="form-group row">
												<label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Accept credit cards:</label>
												<div class="col-10">
													<p>
														Accept credit card payments during checkout by choosing a payment provider. This can be used in conjunction with other payment solutions such as PayPal Express Checkout.
													</p>
													<p>
														<button class="btn btn-default">Add a provider</button>
													</p>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Express Checkout:</label>
												<div class="col-10">
													<p class="p-b-30">
														Accept PayPal as an additional payment method using a "Checkout with PayPal" button.
													</p>
													<div class="form-group m-t-20 m-b-20 m-l-10 max-w-300">
														<md-select class="block" placeholder="Select PayPal method" [(ngModel)]="expressCheckout">
															<md-option>None</md-option>
															<md-option *ngFor="let express of expressCheckout" [value]="express.value">
																{{ express.viewValue }}
															</md-option>
														</md-select>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Manual payments:</label>
												<div class="col-10">
													<p class="p-b-30">
														Provide customers with instructions to pay outside of your online store. Choose from cash on delivery (COD), money order, bank deposit, or create a custom solution.
													</p>
													<div class="form-group m-t-20 m-b-20 m-l-10 max-w-300">
														<md-select class="block" placeholder="Activate custom payment" [(ngModel)]="customCheckout">
															<md-option>None</md-option>
															<md-option *ngFor="let custom of customCheckout" [value]="express.value">
																{{ express.viewValue }}
															</md-option>
														</md-select>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Payment authorization:</label>
												<div class="col-10">
													<md-radio-button name="group1">Automatically capture payment for orders.Authorize and charge the customer's credit card.</md-radio-button>
													<md-radio-button name="group1">Manually capture payment for orders.Authorize the customer's credit card.</md-radio-button>
												</div>
											</div>
											<div class="form-group text-right">
												<div class="col-md-12">
													<button md-ripple class="btn btn-accent btn-flat ">Cancel</button>
													<button md-ripple class="btn btn-accent">Save Changes</button>
												</div>
											</div>
										</div>
									</div>
								</md-tab>
								<md-tab label="Checkout">
									<div class="tab-content p-30">
										<h2 class="card-title">General Settings</h2>
										<form class="form-horizontal">
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Checkout:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<textarea mdInput placeholder="Textarea" class="form-control"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Privacy policy:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<textarea mdInput placeholder="Privacy policy" class="form-control"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-2 col-form-label text-right">Terms of service:</label>
												<div class="col-10">
													<md-input-container floatPlaceholder="never" class="float-never">
														<textarea mdInput placeholder="Terms of service" class="form-control"></textarea>
													</md-input-container>
												</div>
											</div>
											<div class="form-group text-right">
												<div class="col-md-12">
													<button md-ripple class="btn btn-accent btn-flat ">Cancel</button>
													<button md-ripple class="btn btn-accent">Save Changes</button>
												</div>
											</div>
										</form>
									</div>
								</md-tab>
							</md-tab-group>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
