<div id="content_wrapper" class="detachedToolbarLeft-wrapper">
	<div class="content">
		<div class="header-wrapper header-xl overlay app_primary_bg"></div>
		<div class="content-body container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<div class="card profile">
						<header class="card-header">
							<img src="/assets/img/profiles/02.jpg" alt="" class="rounded-circle">
							<ul class="actions icons top-right">
								<li class="dropdown" dropdown>
									<a href="javascript:void(0)" dropdownToggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-right btn-primary">
										<li>
											<a href="javascript:void(0)">Edit Profile</a>
										</li>
									</ul>
								</li>
							</ul>
						</header>
						<div class="card-block p-0">
							<h3 class="name">Mike Jones</h3>
							<span class="title">UI/UX Designer</span>
							<button md-ripple type="button" class="btn btn-accent btn-round">Connect</button>
						</div>
						<footer class="card-footer border-top m-t-15">
							<div class="row p-t-10 p-b-10">
								<div class="col"><span class="count">250</span><span>Post</span></div>
								<div class="col"><span class="count">1.5m</span><span>Followers</span></div>
								<div class="col"><span class="count">627</span><span>Following</span></div>
							</div>
						</footer>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<tabset [justified]="true">
							<tab heading="Timeline">
								<div class="card-block p-30">
									<div class="row">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-11">
											<article>
												<div class="card card-comment" data-timeline="text">
													<header class="card-header mw-lightGray">
														<img src="assets/img/profiles/02.jpg" alt="" class="rounded-circle img-sm float-left m-r-10">
														<h2 class="card-title m-t-5">Mike Jones</h2>
														<ul class="actions icons top-right">
															<li class="d-md-none d-lg-none d-xl-none">
																<a href="javascript:void(0)">
																	<i class="zmdi zmdi-comment-text"></i>
																</a>
															</li>
															<li class="d-xs-none">
																<a href="javascript:void(0)">
																	<i class="zmdi zmdi-favorite"></i>
																</a>
															</li>
															<li class="d-xs-none">
																<a href="javascript:void(0)">
																	<i class="zmdi zmdi-share"></i>
																</a>
															</li>
															<li class="dropdown" dropdown>
																<a href="javascript:void(0)" dropdownToggle>
																	<i class="zmdi zmdi-more-vert"></i>
																</a>
																<ul class="dropdown-menu btn-primary dropdown-menu-right" *dropdownMenu>
																	<li>
																		<a href="javascript:void(0)">Edit</a>
																	</li>
																	<li>
																		<a href="javascript:void(0)">Delete</a>
																	</li>
																</ul>
															</li>
														</ul>
													</header>
													<div class="card-block">
														<p>Copper mug drinking vinegar hexagon pitchfork. Raw denim banjo trust fund unicorn, bushwick marfa kinfolk small batch poke. Freegan man bun kogi fingerstache, mumblecore trust fund selvage live-edge celiac. Pug succulents roof party, flannel
															selfies raclette iceland ugh artisan plaid. Chambray cray deep v, kale chips typewriter cardigan food truck craft beer bespoke migas pickled. Celiac trust fund vinyl squid disrupt. Single-origin coffee readymade wayfarers copper mug, kinfolk
															pitchfork pinterest salvia iceland Vice deep v bushwick man bun pok pok shoreditch hoodie, neutra everyday carry marfa austin.</p>
														</div>
														<div class="card-footer mw-lightGray p-10">
															<ul class="actions icons bottom-left">
																<li class="d-xs-none">
																	<a href="javascript:void(0)">
																		<span class="badge status danger">3</span>
																		<i class="zmdi zmdi-comment-text"></i>
																	</a>
																</li>
															</ul>
															<div class="form-group m-5 p-0">
																<div class="input-group">
																	<label class="sr-only">Leave a comment...</label>
																	<input type="text" class="form-control form-rounded" placeholder="Leave a comment..">
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-blue btn-fab animate-fab btn-fab-sm m-l-20">
																			<i class="zmdi zmdi-mail-send"></i>
																		</button>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</article>
												<article>
													<div class="card card-comment" data-timeline="image">
														<header class="card-header mw-lightGray">
															<img src="assets/img/profiles/02.jpg" alt="" class="rounded-circle img-sm float-left m-r-10">
															<h2 class="card-title m-t-5">Mike Jones</h2>
															<ul class="actions icons top-right">
																<li class="d-md-none d-lg-none d-xl-none">
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-comment-text"></i>
																	</a>
																</li>
																<li class="d-xs-none">
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-favorite"></i>
																	</a>
																</li>
																<li class="d-xs-none">
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-share"></i>
																	</a>
																</li>
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu btn-primary dropdown-menu-right" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)">Edit</a>
																		</li>
																		<li>
																			<a href="javascript:void(0)">Delete</a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<div id="photo-gallery" class="gallery row" itemscope itemtype="http://schema.org/ImageGallery">
																<figure class="col-md-3 col-sm-4 col-xs-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
																	<a href="assets/img/timeline/15008867125_b61960af01_h.jpg" data-caption="<div class='text-center'>Place your caption here.<br><em class='text-muted'><i class='zmdi zmdi-favorite'></i> Material Wrap</em></div>" data-width="1600" data-height="1068" itemprop="contentUrl">
																		<img src="assets/img/timeline/15008867125_68a8ed88cc_m.jpg" itemprop="thumbnail" alt="Image description">
																	</a>
																</figure>
																<figure class="col-md-3 col-sm-4 col-xs-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
																	<a href="assets/img/timeline/14985871946_24f47d4b53_h.jpg" data-caption="<div class='text-center'>Place your caption here.<br><em class='text-muted'><i class='zmdi zmdi-favorite'></i> Material Wrap</em></div>" data-width="1600" data-height="1068" itemprop="contentUrl">
																		<img src="assets/img/timeline/14985871946_86abb8c56f_m.jpg" itemprop="thumbnail" alt="Image description">
																	</a>
																</figure>
																<figure class="col-md-3 col-sm-4 col-xs-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
																	<a href="assets/img/timeline/14985868676_b51baa4071_h.jpg" data-caption="<div class='text-center'>Place your caption here.<br><em class='text-muted'><i class='zmdi zmdi-favorite'></i> Material Wrap</em></div>" data-width="1600" data-height="1068" itemprop="contentUrl">
																		<img src="assets/img/timeline/14985868676_4b802b932a_m.jpg" itemprop="thumbnail" alt="Image description">
																	</a>
																</figure>
																<figure class="col-md-3 col-sm-4 col-xs-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
																	<a href="assets/img/timeline/15008465772_d50c8f0531_h.jpg" data-caption="<div class='text-center'>Place your caption here.<br><em class='text-muted'><i class='zmdi zmdi-favorite'></i> Material Wrap</em></div>" data-width="1600" data-height="1068" itemprop="contentUrl">
																		<img src="assets/img/timeline/15008465772_383e697089_m.jpg" itemprop="thumbnail" alt="Image description">
																	</a>
																</figure>
															</div>
															<p>Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Aute portland nostrud four dollar toast, organic typewriter cold-pressed wolf do chartreuse godard. Before they sold out consequat voluptate
																man bun, craft beer ullamco mlkshk quis health goth cold-pressed yuccie pork belly. Biodiesel tilde ethical, delectus fap marfa four dollar toast thundercats.</p>
															</div>
															<div class="card-footer mw-lightGray p-10">
																<ul class="actions icons bottom-left">
																	<li class="d-xs-none">
																		<a href="javascript:void(0)">
																			<span class="badge status danger">0</span>
																			<i class="zmdi zmdi-comment-text"></i>
																		</a>
																	</li>
																</ul>
																<div class="form-group m-5 p-0">
																	<div class="input-group">
																		<label class="sr-only">Leave a comment...</label>
																		<input type="text" class="form-control form-rounded" placeholder="Leave a comment..">
																		<span class="input-group-btn">
																			<button type="button" class="btn btn-blue btn-fab animate-fab btn-fab-sm m-l-20">
																				<i class="zmdi zmdi-mail-send"></i>
																			</button>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</article>
													<article>
														<div class="card card-comment" data-timeline="video">
															<header class="card-header mw-lightGray">
																<img src="assets/img/profiles/02.jpg" alt="" class="rounded-circle img-sm float-left m-r-10">
																<h2 class="card-title m-t-5">Mike Jones</h2>
																<ul class="actions icons top-right">
																	<li class="d-md-none d-lg-none d-xl-none">
																		<a href="javascript:void(0)">
																			<i class="zmdi zmdi-comment-text"></i>
																		</a>
																	</li>
																	<li class="d-xs-none">
																		<a href="javascript:void(0)">
																			<i class="zmdi zmdi-favorite"></i>
																		</a>
																	</li>
																	<li class="d-xs-none">
																		<a href="javascript:void(0)">
																			<i class="zmdi zmdi-share"></i>
																		</a>
																	</li>
																	<li class="dropdown" dropdown>
																		<a href="javascript:void(0)" dropdownToggle>
																			<i class="zmdi zmdi-more-vert"></i>
																		</a>
																		<ul class="dropdown-menu btn-primary dropdown-menu-right" *dropdownMenu>
																			<li>
																				<a href="javascript:void(0)">Edit</a>
																			</li>
																			<li>
																				<a href="javascript:void(0)">Delete</a>
																			</li>
																		</ul>
																	</li>
																</ul>
															</header>
															<div class="card-block">
																<div class='embed-container m-t-20'>
																	<iframe src='//player.vimeo.com/video/93219862?title=0&amp;byline=0&amp;portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
																</div>
															</div>
															<div class="card-footer mw-lightGray p-10">
																<ul class="actions icons bottom-left">
																	<li class="d-xs-none">
																		<a href="javascript:void(0)">
																			<span class="badge status danger">7</span>
																			<i class="zmdi zmdi-comment-text"></i>
																		</a>
																	</li>
																</ul>
																<div class="form-group m-5 p-0">
																	<div class="input-group">
																		<label class="sr-only">Leave a comment...</label>
																		<input type="text" class="form-control form-rounded" placeholder="Leave a comment..">
																		<span class="input-group-btn">
																			<button type="button" class="btn btn-blue btn-fab animate-fab btn-fab-sm m-l-20">
																				<i class="zmdi zmdi-mail-send"></i>
																			</button>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</article>
												</div>
											</div>
										</div>
									</tab>
									<tab heading="About">
										<div class="card-block p-30">
											<h3>About Mike Jones</h3>
											<p>
												Cray distillery tumeric taxidermy 90's meggings. Street art you probably haven't heard of them shabby chic, selvage woke mlkshk stumptown single-origin coffee irony master cleanse wayfarers truffaut seitan plaid disrupt. Asymmetrical slow-carb 3 wolf
												moon pabst, pork belly tacos actually subway tile chartreuse etsy truffaut butcher kinfolk. Listicle waistcoat migas 90's, biodiesel 8-bit you probably haven't heard of them. Literally godard green juice, forage cronut tilde crucifix jean shorts
												occupy put a bird on it. Heirloom hoodie XOXO poke, synth authentic vinyl kogi mumblecore affogato artisan readymade enamel pin. Seitan four loko helvetica hammock.
											</p>
											<h3 class="p-t-30 p-b-15">Contact Information</h3>
											<ul class="vertical-icon-list p-l-30">
												<li><i class="zmdi zmdi-phone"></i>+1 888-555-0000</li>
												<li><i class="zmdi zmdi-email"></i><a href="mailto:support@authenticgoods.co">support@authenticgoods.co</a></li>
												<li><i class="zmdi zmdi-open-in-new"></i><a href="http://www.authenticgoods.co" target="_blank">http://www.authenticgoods.co</a></li>
												<li><i class="zmdi zmdi-twitter"></i><a href="//twitter.com/_authenticgoods" target="_blank">@_authenticgoods</a></li>
												<li><i class="zmdi zmdi-pin"></i>Little Rock, AR</li>
											</ul>
										</div>
									</tab>
									<tab heading="Contacts">
										<div class="card-block p-30">
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/01.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Nicki	Webster</h3>
															<span class="title">Freelance Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/03.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Dan Hansen</h3>
															<span class="title">Visual Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/18.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Nathaniel	Bowers</h3>
															<span class="title">Product Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">2</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/07.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Dan Hansen</h3>
															<span class="title">Product Design Lead</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/08.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Anthony	Strickland</h3>
															<span class="title">Freelance Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/09.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Derek	Lambert</h3>
															<span class="title">Visual Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/11.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Tricia	Poole</h3>
															<span class="title">Product Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">2</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/12.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Lee	Swanson</h3>
															<span class="title">Product Design Lead</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/13.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Edna	May</h3>
															<span class="title">Visual Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/14.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Nathaniel Bowers</h3>
															<span class="title">Product Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/15.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Jason Kendall</h3>
															<span class="title">UI/UX Design Lead</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">3</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/16.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Dan Hansen</h3>
															<span class="title">Freelance Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/17.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Robert	Clark</h3>
															<span class="title">Visual Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/05.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Stephanie Keller</h3>
															<span class="title">Product Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">5</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/06.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Cristina	Hunter</h3>
															<span class="title">Product Design Lead</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">2</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/10.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Andre Townsend</h3>
															<span class="title">Freelance Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round ">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/02.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Robert	Clarke</h3>
															<span class="title">Visual Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="card type--profile m-b-20 m-10">
														<header class="card-header  card-blue">
															<img src="/assets/img/profiles/17.jpg" alt="" class="rounded-circle profile-mini">
															<ul class="actions icons top-right">
																<li class="dropdown" dropdown>
																	<a href="javascript:void(0)" dropdownToggle>
																		<i class="zmdi zmdi-more-vert"></i>
																	</a>
																	<ul class="dropdown-menu dropdown-menu-right btn-accent" *dropdownMenu>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-edit"></i> <span class="m-l-10">Edit</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-block"></i> <span class="m-l-10">Mute</span></a>
																		</li>
																		<li>
																			<a href="javascript:void(0)"><i class="zmdi zmdi-delete"></i> <span class="m-l-10">Remove</span></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</header>
														<div class="card-block">
															<h3 class="name">Eric	Becker</h3>
															<span class="title">Product Designer</span>
															<button md-ripple type="button" class="btn btn-blue btn-round">Send Message</button>
														</div>
														<div class="card-footer border-top">
															<ul class="actions bottom-left">
																<li>
																	<a md-ripple href="javascript:void(0)" class="btn btn-default btn-flat">
																		Action
																	</a>
																</li>
															</ul>
															<ul class="actions icons bottom-right">
																<li>
																	<a href="javascript:void(0)">
																		<i class="zmdi zmdi-pin"></i>
																	</a>
																</li>
																<li>
																	<a href="javascript:void(0)">
																		<span class="badge status danger">2</span>
																		<i class="zmdi zmdi-notifications"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer_wrapper" class="footer_wrapper"></footer>
