<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>ng2-charts</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Angular2+ directives for Chart.js</h2>
							<ul class="actions icons top-right">
								<li>
									<a href="//valor-software.com/ng2-charts/" title="" target="_blank">
										<i class="zmdi zmdi-link"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block">
							<p>
								There are one directive for all chart types: base-chart, and there are 6 types of charts: , line, bar, radar, pie, polarArea, doughnut.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Line Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
							<ng2-charts-line></ng2-charts-line>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Bar Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
							<ng2-charts-bar></ng2-charts-bar>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Doughnut Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
					<ng2-charts-doughnut></ng2-charts-doughnut>
				</div>
			</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Radar Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
					<ng2-charts-radar></ng2-charts-radar>
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Pie Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
					<ng2-charts-pie></ng2-charts-pie>
				</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Polar Chart</h2>
							<ul class="actions icons  top-right">
								<li>
									<a href="javascript:void(0)">
										<i class="zmdi zmdi-refresh-alt"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block p-15">
					<ng2-charts-polar></ng2-charts-polar>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
