<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
			<h1>Form Components</h1>
		</header>
		<div class="content-body">
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Inputs with icon prefixes</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="never" class="float-never">
											<input mdInput placeholder="Full Name">
											<md-icon mdPrefix>account_box</md-icon>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="never" class="float-never">
											<input mdInput placeholder="Email Address">
											<md-icon mdPrefix>email</md-icon>
											
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="never" class="float-never">
											<input mdInput placeholder="Phone Number">
											<md-icon mdPrefix>phone</md-icon>
											
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="never" class="float-never">
											<input mdInput placeholder="Home Address">
											<md-icon mdPrefix>room</md-icon>
										</md-input-container>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" md-ripple class="btn btn-accent btn-flat">Cancel</a>
							<button md-ripple class="btn btn-accent">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Icon prefixes with floating labels</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Full Name">
											<md-icon mdPrefix>account_box</md-icon>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Email Address">
											<md-icon mdPrefix>email</md-icon>
											
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Phone Number">
											<md-icon mdPrefix>phone</md-icon>
											
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Home Address">
											<md-icon mdPrefix>room</md-icon>
										</md-input-container>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" md-ripple class="btn btn-info btn-flat">Cancel</a>
							<button md-ripple class="btn btn-info">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Icon prefixes with button suffix</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Full Name">
											<md-icon mdPrefix>account_box</md-icon>
											<button md-ripple mdSuffix type="button" class="btn btn-default btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Email Address">
											<md-icon mdPrefix>email</md-icon>
											<button md-ripple mdSuffix type="button" class="btn btn-accent btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Phone Number">
											<md-icon mdPrefix>phone</md-icon>
											<button md-ripple mdSuffix type="button" class="btn btn-info btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput placeholder="Home Address">
											<md-icon mdPrefix>room</md-icon>
											<button md-ripple mdSuffix type="button" class="btn btn-primary btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</md-input-container>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" md-ripple class="btn btn-default btn-flat">Cancel</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Toggle</h2>
						</header>
						<div class="card-block">
							<p>
								A toggle switch is used as an on/off control.
							</p>
							<section class="example-section">
								<label class="example-margin">Color:</label>
								<md-radio-group [(ngModel)]="color">
									<md-radio-button class="example-margin" value="primary">
										Primary
									</md-radio-button>
									<md-radio-button class="example-margin" value="accent">
										Accent
									</md-radio-button>
									<md-radio-button class="example-margin" value="warn">
										Warn
									</md-radio-button>
								</md-radio-group>
							</section>
							
							<section class="example-section">
								<md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
							</section>
							
							<section class="example-section">
								<md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
							</section>
						</div>
						<div class="card-footer">
							<h2 class="example-h2">Result</h2>
							
							<section class="example-section">
								<md-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
									Slide me!
								</md-slide-toggle>
							</section>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Character count</h2>
						</header>
						<div class="card-block">
							<p>
								This demonstrates using Angular for a live character count within an input and textarea.
							</p>
							<form class="form-horizontal">
								<div class="form-group row m-b-40">
									
									<div class="col-xl">
										
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<input mdInput #characterCountInputHintExample placeholder="Character count (100 max)" maxLength="100">
											<md-hint align="end" aria-live="polite">
												{{characterCountInputHintExample.value.length}} / 100
											</md-hint>
										</md-input-container>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										
										<md-input-container floatPlaceholder="auto" class="float-auto">
											<textarea mdInput #characterCountTextareaHintExample placeholder="Character count (100 max)" maxLength="100"></textarea>
											<md-hint align="end" aria-live="polite">
												{{characterCountTextareaHintExample.value.length}} / 100
											</md-hint>
										</md-input-container>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Input File Upload</h2>
						</header>
						<div class="card-block">
							<form action="#" enctype="multipart/form-data" class="upload-form form-horizontal">
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-info btn-fab btn-fab-sm">
													<i class="zmdi zmdi-attachment-alt"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-accent btn-fab btn-fab-sm">
													<i class="zmdi zmdi-attachment-alt"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-primary btn-sm">
													File
												</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Material Date Picker</h2>
						</header>
						<div class="card-block">
							<md-form-field>
							  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
							  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
							  <md-datepicker #picker></md-datepicker>
							</md-form-field>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">ng-daterangepicker</h2>
						</header>
						<div class="card-block">
							<ng-daterangepicker [(ngModel)]="value" [options]="options"></ng-daterangepicker>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Autocomplete</h2>
						</header>
						<div class="card-block">
							<div class="row">
								<div class="col-xl">
									<div class="card card-transparent">
										<div class="card-block">
											
											<p>Reactive length: {{ reactiveStates.length }} <br /> Reactive value: {{ stateCtrl.value | json }}</p>
											<p>Reactive dirty: {{ stateCtrl.dirty }}</p>
											<md-input-container floatPlaceholder="never">
												<input mdInput placeholder="State" [mdAutocomplete]="reactiveAuto" [formControl]="stateCtrl">
											</md-input-container>
										</div>
										
										<div class="card-footer">
											<button md-button (click)="stateCtrl.reset()">RESET</button>
											<button md-button (click)="stateCtrl.setValue(states[10])">SET VALUE</button>
											<button md-button (click)="stateCtrl.enabled ? stateCtrl.disable() : stateCtrl.enable()">
												TOGGLE DISABLED
											</button>
										</div>
									</div>
								</div>
								<div class="col-xl">
									<div class="card card-transparent">
										<div class="card-block">
											<p>Template-driven value (currentState): {{ currentState }}</p>
											
											<md-input-container *ngIf="true">
												<input mdInput placeholder="State" [mdAutocomplete]="tdAuto" [(ngModel)]="currentState" (ngModelChange)="tdStates = filterStates(currentState)" [disabled]="tdDisabled">
											</md-input-container>
										</div>
										
										<div class="card-footer">
											<button md-button (click)="modelDir.reset()">RESET</button>
											<button md-button (click)="currentState='California'">SET VALUE</button>
											<button md-button (click)="tdDisabled=!tdDisabled">
												TOGGLE DISABLED
											</button>
										</div>
									</div>
								</div>
							</div>
							<md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
								<md-option *ngFor="let state of reactiveStates | async" [value]="state">
									<span>{{ state.name }}</span>
									<span class="demo-secondary-text"> ({{state.code}}) </span>
								</md-option>
							</md-autocomplete>
							
							<md-autocomplete #tdAuto="mdAutocomplete">
								<md-option *ngFor="let state of tdStates" [value]="state.name">
									<span>{{ state.name }}</span>
								</md-option>
							</md-autocomplete>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Input Mask</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="1" class="col-xl-4 control-label">Masked Input using <code>NgModel</code></label>
									<div class="col-xl-8 input-group">
										<input id="1" name="phone" [(ngModel)]="myModel" [textMask]="{mask: mask}" type="text" class="form-control" />
										<span class="input-group-addon">Model value: {{myModel || "[empty]"}}</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="2" class="col-xl-4 control-label">
										Masked Input using <code>NgModel</code> with initial value
									</label>
									<div class="col-xl-8 input-group">
										<input id="2" name="phoneWithValue" [(ngModel)]="modelWithValue" [textMask]="{mask: mask}" type="text" class="form-control" />
										<span class="input-group-addon">Model value: {{modelWithValue || "[empty]"}}</span>
									</div>
								</div>
								
								<div class="form-group">
									<label for="3" class="col-xl-4 control-label">
										Masked Input using <code>FormControl</code> with initial value
									</label>
									<div class="col-xl-8 input-group">
										<input id="3" name="phoneFormControl" [formControl]='formControlInput' [textMask]="{mask: mask}" type="text" class="form-control" />
										<span class="input-group-addon">Model value: {{formControlInput.value || "[empty]"}}</span>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
