<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>Tabs &amp; Pills</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Information</h2>
						</header>
						<div class="card-block">
							<p>
								Make it easy to explore and switch between different views or functional aspects of an app or to browse categorized data sets.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Basic Tabs</h2>
						</header>
						<div class="card-block">
							<tabset>
								<tab heading='Home'>
									<div class="tab-content p-20">
										<p>
											Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
											wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland. Lyft tumblr prism.
										</p>
									</div>
								</tab>
								
								<tab heading='About'>
									<div class="tab-content p-20">
										<p>
											Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
											Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Fashion axe occupy.
										</p>
									</div>
								</tab>
								<tab heading='Task'>
									<div class="tab-content p-20">
										<p>
											Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
											cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
										</p>
									</div>
								</tab>
								<tab heading='Settings'>
									<div class="tab-content p-20">
										<p>
											Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
											vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
										</p>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Tab Animation</h2>
						</header>
						<div class="card-block">
							<md-tab-group class="demo-tab-group">
								<md-tab label="Home">
									<div class="tab-content p-20">
										<p>
											Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
											wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland. Lyft tumblr prism.
										</p>
									</div>
								</md-tab>
								<md-tab label="About">
									<div class="tab-content p-20">
										<p>
											Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
											cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
										</p>
									</div>
								</md-tab>
								<md-tab label="Task">
									<div class="tab-content p-20">
										<p>
											Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
											Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Fashion axe occupy.
										</p>
									</div>
								</md-tab>
								<md-tab label="Settings">
									<div class="tab-content p-20">
										<p>
											Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
											vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
										</p>
									</div>
								</md-tab>
							</md-tab-group>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Tabs Justified</h2>
						</header>
						<div class="card-block p-0">
							<tabset  [justified]="true">
								<tab heading='Home'>
									<div class="tab-content p-20">
										<p>
											Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
											wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland. Lyft tumblr prism.
										</p>
									</div>
								</tab>
								
								<tab heading='About'>
									<div class="tab-content p-20">
										<p>
											Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
											Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Fashion axe occupy.
										</p>
									</div>
								</tab>
								<tab heading='Task'>
									<div class="tab-content p-20">
										<p>
											Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
											cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
										</p>
									</div>
								</tab>
								<tab heading='Settings'>
									<div class="tab-content p-20">
										<p>
											Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
											vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
										</p>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Nav Pills Left</h2>
						</header>
						<div class="card-block">
							<tabset [vertical]="true" type="pills" class="vertical-tabs align-left">
						  <tab heading="Vertical 1">
								<div class="tab-content p-20">
									<p>
										Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
										vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
									</p>
								</div>
						  </tab>
						  <tab heading="Vertical 2">
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
						  </tab>
						</tabset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Tabs RTL</h2>
						</header>
						<div class="card-block p-0">
							<tabset  dir="rtl">
								<tab heading='Home'>
									<div class="tab-content p-20">
										<p>
											Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
											wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland. Lyft tumblr prism.
										</p>
									</div>
								</tab>
								
								<tab heading='About'>
									<div class="tab-content p-20">
										<p>
											Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
											Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Fashion axe occupy.
										</p>
									</div>
								</tab>
								<tab heading='Task'>
									<div class="tab-content p-20">
										<p>
											Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
											cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
										</p>
									</div>
								</tab>
								<tab heading='Settings'>
									<div class="tab-content p-20">
										<p>
											Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
											vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
										</p>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Nav Pills Right</h2>
						</header>
						<div class="card-block">
							<tabset [vertical]="true" type="pills" class="vertical-tabs align-right">
							<tab heading="Vertical 1">
								<div class="tab-content p-20">
									<p>
										Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
										vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
									</p>
								</div>
							</tab>
							<tab heading="Vertical 2">
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
						</tabset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Nav Pills</h2>
						</header>
						<div class="card-block">
							<tabset type="pills">
							<tab heading="Home">
								<template tabHeading>
									<i class="zmdi zmdi-home float-left"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
										vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
									</p>
								</div>
							</tab>
							<tab heading="About">
								<template tabHeading>
									<i class="zmdi zmdi-calendar-note float-left"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
							<tab heading="Task">
								<template tabHeading>
									<i class="zmdi zmdi-view-list-alt float-left"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
							<tab heading="Settings">
								<template tabHeading>
									<i class="zmdi zmdi-settings float-left"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
						</tabset>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Nav Block Pills</h2>
						</header>
						<div class="card-block">
							<tabset type="pills" class="nav-block-pills">
							<tab heading="Home">
								<template tabHeading>
									<i class="zmdi zmdi-home"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
										vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free wolf.
									</p>
								</div>
							</tab>
							<tab heading="About">
								<template tabHeading>
									<i class="zmdi zmdi-calendar-note"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
							<tab heading="Task">
								<template tabHeading>
									<i class="zmdi zmdi-view-list-alt"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
							<tab heading="Settings">
								<template tabHeading>
									<i class="zmdi zmdi-settings"></i>
								</template>
								<div class="tab-content p-20">
									<p>
										Poutine tumblr wayfarers salvia. Quinoa twee raclette VHS. Enamel pin cornhole kale chips freegan meggings poutine kinfolk swag. Yuccie tumeric pok pok taxidermy affogato food truck. Enamel pin affogato next level occupy cliche, PBR&B +1 edison bulb master
										cleanse. Williamsburg edison bulb bitters, venmo vexillologist tattooed keffiyeh ennui four dollar toast tofu. Yr microdosing biodiesel meggings venmo actually.
									</p>
								</div>
							</tab>
						</tabset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<tabs-over-card [tabColor]="'tabs-primary'">
						<div class="tab-content one">
							<p>
								Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
								Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb.
							</p>
						</div>
						<div class="tab-content two">
							<p>
								Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
								wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland.
							</p>
						</div>
						<div class="tab-content three">
							<p>
								Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
								vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free.
							</p>
						</div>
					</tabs-over-card>
				</div>
				<div class="col">
					<tabs-over-card [tabColor]="'tabs-info'">
						<div class="tab-content one">
							<p>
								Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
								Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb.
							</p>
						</div>
						<div class="tab-content two">
							<p>
								Schlitz enamel pin neutra succulents bespoke, dreamcatcher tattooed flannel man bun la croix YOLO readymade chicharrones poke. Selfies ramps brooklyn microdosing church-key sustainable, keytar next level chicharrones PBR&B. Mlkshk schlitz whatever, twee
								wolf godard banh mi try-hard meh bitters irony. Cronut williamsburg shabby chic, typewriter vape skateboard post-ironic lo-fi YOLO shoreditch iceland.
							</p>
						</div>
						<div class="tab-content three">
							<p>
								Mlkshk tilde church-key literally jean shorts heirloom. Venmo scenester air plant narwhal ennui, ethical fashion axe small batch raclette bicycle rights asymmetrical 3 wolf moon art party listicle. Street art lo-fi snackwave, cliche chartreuse pug drinking
								vinegar hashtag pok pok asymmetrical la croix. Tilde distillery meditation waistcoat vaporware, selfies mumblecore schlitz brunch try-hard gluten-free.
							</p>
						</div>
					</tabs-over-card>
				</div>
			</div>
		</div>
	</div>
	
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
